<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="emailId" value="tester456@gmail.com"/>
		<parameter name="password" value="test@123"/>
		<parameter name="url" value="https://www.google.com"/>
		<parameter name="urlcoke" value="https://us.coca-cola.com/products/"/>
		<parameter name="urlpowerade" value="https://www.powerade.com/products/"/>
		<parameter name="urlfresca" value="https://www.fresca.com/products"/>
		<parameter name="urlaha" value="https://www.drinkaha.com/products"/>
		<parameter name="urlpeacetea" value="https://www.peacetea.com/products"/>
		<parameter name="urlzico" value="https://www.zico.com/products/"/>
		<parameter name="urldunkin" value="https://dunkinanytime.coca-cola.com/products"/>
		<parameter name="urlbarqs" value="https://www.barqs.com/products/"/>
		<parameter name="urlvitaminwater" value="https://www.vitaminwater.com/"/>
		<parameter name="urlmelloyello" value="https://www.melloyello.com/products"/>
		<classes>
<!--						<class name="test.Framework.TestAha2"/>-->
<!--			<class name="test.Framework.TestCoke"/>-->
			<class name="test.Framework.TestAha"/>
			<class name="test.Framework.TestBarqs"/>
<!--			<class name="test.Framework.TestDunkin"/>-->
<!--			<class name="test.Framework.TestFresca"/>-->
<!--			<class name="test.Framework.TestFresca2"/>-->
<!--			<class name="test.Framework.TestMelloYello"/>-->
<!--			<class name="test.Framework.TestPeaceTea"/>-->
<!--			<class name="test.Framework.TestPowerade"/>-->
<!--			<class name="test.Framework.TestVitaWater"/>-->
<!--			<class name="test.Framework.TestVitaWater2"/>-->
<!--			<class name="test.Framework.TestZico"/>-->

			<!--  class name="test.Framework.ExtentsReportsClass"-->
		</classes>
	</test> 
</suite> 
